<html>
  <body>
    <!-- ... -->
    <h1>Let's gossip ;-)<h1>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title'%>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content' %>
      <br /> <br />

      <%= submit_tag "Create Gossip" %>

    <% end %>
    <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
  Something went wrong, try again!
</div>
  <p>We didn't create your gossip, for the following reason(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% else %>

    <% end %>
  </ul>
<% end %>
  </body>
</html>